---
layout: default
---

{% include header.html %}

<div class="container margin-top-30">
  <div class="home">
      <div class="content">
          <ul class="post-list row">
            {% for post in paginator.posts %}
              <li class="post-list__item col-lg-6">
                    {% include post.html %}
              </li>

              {% endfor %}
          </ul>

          <nav>
              <ul class="pager pagination-lg">
                  {% if paginator.previous_page %}
                  <li><a href="{{ paginator.previous_page_path }}">Newer</a></li>
                  {% endif %}
                  {% if paginator.next_page %}
                  <li><a href="{{ paginator.next_page_path }}">Older</a></li>
                  {% endif %}
              </ul>
          </nav>
      </div>
  </div>
</div>
