---
layout: default
---

{% include header.html %}

<div class="container margin-top-30">
  <div class="home row">
      <div class="content col-lg-9">
          <ul class="post-list">
              {% for post in paginator.posts %}
              <li class="post-list__item">
                  <div class="row">
                      <div class="col-lg-12">
                        {% include post.html %}
                      </div>
                  </div>
              </li>
              {% endfor %}
          </ul>

          <nav>
              <ul class="pager pagination-lg">
                  {% if paginator.previous_page %}
                  <li><a href="{{ paginator.previous_page_path }}">Newer</a></li>
                  {% endif %}
                  {% if paginator.next_page %}
                  <li><a href="{{ paginator.next_page_path }}">Older</a></li>
                  {% endif %}
              </ul>
          </nav>
      </div>
  </div>
</div>
