.global-header {
    background: $brand-primary;
    overflow: auto;
    padding: 35px 0;
    border-bottom: 1px solid #755a9f;

  &--title {
      margin: 0!important;
      float: left;
      font-weight:normal;

      a {
        color: $color-white;
      }
  }

  &--search {
      float: right;
      color: $color-white;

      &:hover, &:visited, &:focus {
        color: $color-white;
      }
  }
}